* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root {
  --white: hsl(0, 0%, 100%);
  --error: hsl(0, 66%, 54%);
  --grey-md: hsl(186, 15%, 59%);
  --grey-dark: hsl(187, 24%, 22%);
  --light-green: hsl(148, 38%, 91%);
  --md-green: hsl(169, 82%, 27%);
  --dark-green: hsl(171, 83%, 14%);
}
body {
  font-family: Karla, "Courier New", Courier, monospace;
  height: 100vh;
  color: var(--grey-dark);
  background-color: var(--light-green);
}
body,
main,
form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}
main {
  background-color: var(--white);
  border-radius: 1rem;
  /* width: 40%; */
  padding: 1rem;
  width: 30rem;
  height: fit-content;
}
.form-wrapper {
  gap: 1rem;
}
.form-input-wrapper label {
  font-size: 0.75rem;
  display: inline-block;
  margin-bottom: 0.5rem;
}
input,
textarea {
  padding: 0.75rem 1rem;
  border: 1px solid var(--grey-md);
  outline: none;
  border-radius: 0.5rem;
}
input:hover,
textarea:hover,
input:focus,
textarea:focus {
  cursor: pointer;
  border-color: var(--md-green);
}
.radio-input-wrapper {
  border: 1px solid var(--grey-md);
  outline: none;
  border-radius: 0.5rem;
  width: 100%;
  display: flex;
}
.radio-input-wrapper label {
  margin: 0.75rem 0.5rem;
  width: 100%;
  height: 75%;
}
.radio-input-wrapper:hover {
  cursor: pointer;
  border-color: var(--md-green);
}
.radio-wrapper,
#form-consent-wrapper,
#name-input-wrapper {
  display: flex;
  flex-direction: row;
  gap: 0.5rem;
  width: 100%;
}
.selected {
  cursor: pointer;
  border-color: var(--md-green);
  background-color: var(--light-green);
}

/* * */
.required-input {
  color: hsl(169, 82%, 27%);
  margin: 0.25rem;
} 



input[type="checkbox"],
input[type="radio"] {
  accent-color: hsl(169, 82%, 27%);
  width: auto;
}

input[type="checkbox"]:hover,
input[type="radio"]:hover {
  cursor: pointer; 
}

input[type="checkbox"]:focus {
  outline: 2px solid hsl(169, 82%, 47%); 
  outline-offset: 2px; 
}

input[type="checkbox"]:active {
  background-color: hsl(169, 82%, 27%); 
  border: 2px solid hsl(169, 82%, 47%); 
}

.error, .errorName {
  display: none;
  font-size: 0.75rem;
  color: var(--error);
  margin-top: 0.5rem;
}
label,
#query-label {
  font-size: 0.75rem;
}
input[type="radio"] {
  margin-left: 1rem;
}
.radio-wrapper label:hover {
  cursor: pointer;
}

#query-label {
  margin: 0.5rem 0;
}
.form-input-wrapper,
textarea,
h1,
input {
  width: 100%;
}

h1{
  margin-bottom: 1rem;
} 
button {
  outline: none;
  border: none;
  border-radius: 0.5rem;
  padding: 0.75rem 1rem;
  width: 100%;
  background-color: var(--md-green);
  color: var(--white);
  &:hover, &:focus {
    cursor: pointer;
    background-color: var(--dark-green);
  }
}

.success-message {
  position: absolute;
  top: 0.75rem;
  display: none;
  min-width: 20rem;
  max-width: 30%;
  padding: 1rem;
  background-color: #2a4244;
  color: #fff;
  text-align: center;
  border-radius: 0.5rem;
  margin-bottom: 1rem;
  font-size: 0.75rem;
  animation: fadeIn 0.5s ease-in-out;
  flex-direction: column;
  align-items: flex-start;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
    transform: translateY(-10px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}



@media (max-width: 768px) {
  main {
    width: 90%; 
    padding: 1rem;
  }

  textarea {
    width: 100%; 
    height: auto; 
  }
}

@media (max-width: 375px) {
  .form-wrapper,
  .form-input-wrapper,
  #name-input-wrapper,
  .radio-wrapper {
    flex-direction: column; 
  }

  .radio-input-wrapper {
    flex-direction: row; 
    align-items: center;
  }

  .radio-input-wrapper label {
    margin: 0.5rem; 
  }

  textarea {
    width: 100%; 
    height: calc(100vw - 32px); 
    max-height: 300px; 
  }

  button {
    width: 100%;
  }
}
